@page
@model RazorPagesJazz.Pages.Tracks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tracks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tracks.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tracks.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tracks.DateRecorded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tracks.DateRecorded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tracks.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tracks.Duration)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tracks.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
