@page
@model RazorPagesJazz.Pages.Tracks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
	<p>
		Track Name: <input type="text" name="trackname" />
	</p>
	<p>
		Date Recorded: <input type="text" name="daterecorded" />
	</p>
	<p>
		Album Title: <input type="text" name="albumtitle" />
	</p>
	<p>
		Artist First Name: <input type="text" name="artistfname" />
	</p>
	<p>
		Artist Last Name: <input type="text" name="artistlname" />
	</p>
	<p>
		<input type="submit" value="Run Query" />
	</p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tracks[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tracks[0].DateRecorded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tracks[0].Duration)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tracks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRecorded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
			<td>
				<a asp-page="./Albums" asp-route-id="@item.Id">Albums</a> |
				<a asp-page="./Artists" asp-route-id="@item.Id">Artists</a> |
				<a asp-page="./Details" asp-route-id="@item.Id">Details</a>
			</td>
        </tr>
}
    </tbody>
</table>
