@page
@model RazorPagesJazz.Pages.Albums.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Albums</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Albums.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Albums.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Albums.DateReleased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Albums.DateReleased)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Albums.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Albums.Duration)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Albums.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
