@page
@model RazorPagesJazz.Pages.Albums.IndexModel

@{
    ViewData["Title"] = "Search for Artists";
}

<h2>Search for Artists</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>


<form>
	<p>
		Title: <input type="text" name="albumtitle" />
	</p>
	<p>
		Release Date: <input type="text" name="datereleased" />
	</p>
	<p>
		Artist First Name: <input type="text" name="artistfname" />
	</p>
	<p>
		Artist Last Name: <input type="text" name="artistlname" />
	</p>
	<p>
		Track Name: <input type="text" name="trackname" />
	</p>
	<p>
		<input type="submit" value="Run Query" />
	</p>
</form>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Albums[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Albums[0].DateReleased)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Albums[0].Duration)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Albums) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReleased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
			<td>
				<a asp-page="./Tracks" asp-route-id="@item.Id">Tracks</a> |
				<a asp-page="./Artists" asp-route-id="@item.Id">Artists</a> |
				<a asp-page="./Details" asp-route-id="@item.Id">Details</a>
			</td>
        </tr>
}
    </tbody>
</table>
